*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    background-color: rgb(189, 178, 178);
}

.navbar-brand {
    font-weight: 600;
}

.nav-link{
    color: red;
}
;
