{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block
content %}
<div class="box">
    <form method="post" class="login-wrap">
      <h2>Login</h2>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password"/>
      <a href="{{ url_for('auth.forgot') }}">Forgot Password</a>
      <button type="submit">Login</button>
      <h3>Not a member yet?</h3>
      <a href="{{ url_for('auth.signup') }}">Sign Up</a>
    </form>
</div>
{% endblock %}
