{% extends "layout.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="box">
    <form method="POST" class="login-wrap">
      <h2>Sign Up</h2>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <label for="confirm-password">Confirm Password</label>
      <input type="password" name="confirm-password" id="confirm-password"/>
      <button type="submit">Sign Up</button>
      <h3>Already a member?</h3>
      <a href="{{ url_for('auth.login') }}">Sign In</a>
    </form>
</div>
{% endblock %}